[Desktop Entry]
Type=Application
Version=1.0.0
Name=Lime
Comment=Tool for fitting simulations data with Likhtman & McLeish' model.
Exec=/usr/bin/lime-gui
Icon=/usr/share/lime/lime.png
Terminal=false
Categories=Utility